[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock
default-character-set=latin1

[mysqld]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
user = mysql
server-id	= 1
skip-external-locking
skip-name-resolve
skip_symbolic_links = yes
sort_buffer_size = 512K
character-set-server = latin1
key_buffer_size = 16M
#log-bin=mysql-bin
max_allowed_packet = 1M
max_connect_errors = 1000
max_connections = 1000
myisam_sort_buffer_size = 8M
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
#binlog_format=mixed
#table_open_cache = 64

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
expire_logs_days = 10
